/* Tela inicial overlay */
.overlay-screen {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#0a0a0f;
    color:#d4af37;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.welcome-container h1 {
    font-size:2.5rem;
    margin-bottom:10px;
}

.welcome-container h3 {
    font-size:1.2rem;
    margin-bottom:20px;
}

.welcome-container button {
    background:#1a1a22;
    color:#d4af37;
    border:1px solid #d4af37;
    border-radius:8px;
    cursor:pointer;
    padding:20px;
    font-size:50px;
    transition:0.3s;
}

.welcome-container button:hover {
    background:#d4af37;
    color:#111118;
}
